### Laboratorio #8

- Cristian Aguirre
- Diego Cordova 
- Paola Contreras

In [1]:
# Imports

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.preprocessing import LabelEncoder

In [2]:
# Lectura archivo
data = pd.read_csv('bank_transactions.csv')

In [3]:
# Mostrar tama√±o del dataset
print(data.shape)

# Mostrar datos del dataset
data.head()

(1048567, 9)

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5

In [4]:
# Describir cada uno de los datos
data.describe()

       CustAccountBalance  TransactionTime  TransactionAmount (INR)
count        1.046198e+06     1.048567e+06             1.048567e+06
mean         1.154035e+05     1.570875e+05             1.574335e+03
std          8.464854e+05     5.126185e+04             6.574743e+03
min          0.000000e+00     0.000000e+00             0.000000e+00
25%          4.721760e+03     1.240300e+05             1.610000e+02
50%          1.679218e+04     1.642260e+05             4.590300e+02
75%          5.765736e+04     2.000100e+05             1.200000e+03
max          1.150355e+08     2.359590e+05             1.560035e+06

In [5]:
# Eliminar datos nulos
data.dropna(inplace=True)

# Eliminar data duplicada
data.drop_duplicates()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5
...,...,...,...,...,...,...,...,...,...
1048562,T1048563,C8020229,8/4/90,M,NEW DELHI,7635.19,18/9/16,184824,799.0
1048563,T1048564,C6459278,20/2/92,M,NASHIK,27311.42,18/9/16,183734,460.0
1048564,T1048565,C6412354,18/5/89,M,HYDERABAD,221757.06,18/9/16,183313,770.0
1048565,T1048566,C6420483,30/8/78,M,VISAKHAPATNAM,10117.87,18/9/16,184706,1000.0
1048566,T1048567,C8337524,5/3/84,M,PUNE,75734.42,18/9/16,181222,1166.0

In [6]:
# Droppear columnas que no se usaran
data.drop(["TransactionID", "CustomerID", "CustomerDOB", "TransactionDate","CustLocation","CustGender","TransactionDate","TransactionTime"], axis=1, inplace= True)

In [7]:
print(data)

         CustAccountBalance  TransactionAmount (INR)
0                  17819.05                     25.0
1                   2270.69                  27999.0
2                  17874.44                    459.0
3                 866503.21                   2060.0
4                   6714.43                   1762.5
...                     ...                      ...
1048562             7635.19                    799.0
1048563            27311.42                    460.0
1048564           221757.06                    770.0
1048565            10117.87                   1000.0
1048566            75734.42                   1166.0

[1041614 rows x 2 columns]

In [8]:
Scale = StandardScaler()
Scale = Scale.fit_transform(data)
norm = normalize(Scale)

data = pd.DataFrame(norm, columns = data.columns)

In [10]:
data

         CustAccountBalance  TransactionAmount (INR)
0                 -0.439026                -0.898474
1                 -0.033029                 0.999454
2                 -0.562198                -0.827003
3                  0.996423                 0.084511
4                 -0.973682                 0.227910
...                     ...                      ...
1041609           -0.735180                -0.677872
1041610           -0.523429                -0.852069
1041611            0.720549                -0.693404
1041612           -0.820558                -0.571563
1041613           -0.605312                -0.795989

[1041614 rows x 2 columns]

In [18]:
from mixtureModel import GMM

In [19]:
model = GMM(n_components=7)

In [26]:
data = data.head(100)

In [27]:
data

    CustAccountBalance  TransactionAmount (INR)
0            -0.439026                -0.898474
1            -0.033029                 0.999454
2            -0.562198                -0.827003
3             0.996423                 0.084511
4            -0.973682                 0.227910
..                 ...                      ...
95           -0.540243                -0.841509
96           -0.725303                -0.688430
97           -0.218014                 0.975946
98           -0.687632                -0.726059
99           -0.988294                -0.152561

[100 rows x 2 columns]

In [28]:
X = data.to_numpy()

In [29]:
X

array([[-0.43902649, -0.89847412],
       [-0.03302855,  0.99945441],
       [-0.56219761, -0.82700293],
       [ 0.99642253,  0.08451123],
       [-0.97368231,  0.22790953],
       [-0.47134586, -0.88194845],
       [-0.66209825, -0.74941705],
       [-0.1082261 , -0.99412631],
       [-0.72673947, -0.6869132 ],
       [-0.55767982, -0.83005615],
       [-0.36709162, -0.93018479],
       [-0.49536622, -0.86868424],
       [-0.05961284,  0.99822157],
       [-0.27084008, -0.96262436],
       [-0.55192898, -0.83389112],
       [-0.55634802, -0.83094939],
       [-0.89727304, -0.44147604],
       [-0.50052698, -0.86572094],
       [-0.45362742, -0.89119143],
       [-0.79306573, -0.60913606],
       [-0.49358085, -0.86969992],
       [-0.48625903, -0.87381471],
       [-0.52152141, -0.85323819],
       [-0.5273424 , -0.84965286],
       [-0.93621847,  0.35141852],
       [-0.54716235, -0.8370265 ],
       [-0.22040178,  0.97540917],
       [-0.73658862,  0.67634105],
       [ 0.97434976, -0.225039  ],
       [ 0.80003452, -0.59995398],
       [-0.47573851, -0.87958676],
       [-0.48186677, -0.87624449],
       [ 0.01300274,  0.99991546],
       [-0.5218629 , -0.85302938],
       [-0.85215905, -0.52328287],
       [-0.87792244, -0.47880288],
       [-0.35566984,  0.93461167],
       [-0.06298098, -0.99801473],
       [-0.70258767, -0.71159719],
       [-0.27785637, -0.96062263],
       [-0.47815347, -0.8782763 ],
       [-0.49674013, -0.86789933],
       [-0.57715774, -0.81663268],
       [ 0.88963469, -0.45667289],
       [-0.51155587, -0.85925002],
       [-0.06921044,  0.99760208],
       [-0.41920564, -0.90789131],
       [-0.50082668, -0.86554759],
       [-0.02710804,  0.99963251],
       [ 0.99223549, -0.12437337],
       [-0.49701592, -0.86774142],
       [-0.64130031, -0.76728998],
       [-0.48931956, -0.87210456],
       [-0.53194425, -0.84677938],
       [-0.46140153, -0.88719143],
       [-0.84246182, -0.53875605],
       [-0.52169133, -0.85313432],
       [-0.72478965, -0.68897022],
       [-0.27651243,  0.96101034],
       [-0.99524407, -0.09741275],
       [-0.56458546, -0.82537462],
       [-0.50839338, -0.86112495],
       [-0.52908192, -0.84857075],
       [-0.41849489, -0.90821915],
       [-0.40175735, -0.91574616],
       [ 0.56969075, -0.82185914],
       [-0.47128678, -0.88198003],
       [ 0.2570034 ,  0.9664105 ],
       [-0.14595695, -0.98929094],
       [-0.17787395,  0.98405328],
       [-0.47285494, -0.88114029],
       [-0.66017672, -0.75111031],
       [-0.34400092,  0.93896931],
       [-0.62377023, -0.78160777],
       [-0.75828714, -0.65192072],
       [ 0.13756544, -0.99049268],
       [-0.46514099, -0.88523661],
       [-0.40858107, -0.91272203],
       [ 0.62865823, -0.7776817 ],
       [-0.77474336, -0.63227583],
       [-0.44902688, -0.89351825],
       [-0.49854393,  0.86686444],
       [-0.99619794,  0.08711873],
       [-0.56056285, -0.82811189],
       [-0.45159752, -0.89222177],
       [-0.49492284, -0.86893693],
       [-0.74620508,  0.66571614],
       [-0.99708315, -0.07632291],
       [ 0.04100551, -0.99915892],
       [-0.49717299, -0.86765144],
       [-0.04651866,  0.99891742],
       [-0.69345859, -0.72049648],
       [-0.5559108 ,  0.83124195],
       [-0.1659758 , -0.98612983],
       [-0.5049861 , -0.86312747],
       [-0.54024275, -0.84150922],
       [-0.72530308, -0.68842969],
       [-0.21801423,  0.97594559],
       [-0.68763236, -0.72605905],
       [-0.98829408, -0.15256084]])

In [30]:
model.fit(X)

In [31]:
y_pred = model.predict(X)

In [32]:
y_pred

['comp1',
 'comp4',
 'comp5',
 'comp1',
 'comp6',
 'comp2',
 'comp0',
 'comp1',
 'comp0',
 'comp5',
 'comp1',
 'comp3',
 'comp4',
 'comp1',
 'comp5',
 'comp5',
 'comp6',
 'comp1',
 'comp1',
 'comp6',
 'comp3',
 'comp1',
 'comp1',
 'comp1',
 'comp6',
 'comp5',
 'comp4',
 'comp6',
 'comp1',
 'comp1',
 'comp1',
 'comp1',
 'comp4',
 'comp1',
 'comp6',
 'comp6',
 'comp6',
 'comp1',
 'comp0',
 'comp1',
 'comp1',
 'comp3',
 'comp1',
 'comp1',
 'comp1',
 'comp4',
 'comp1',
 'comp1',
 'comp4',
 'comp1',
 'comp3',
 'comp1',
 'comp1',
 'comp1',
 'comp2',
 'comp6',
 'comp1',
 'comp0',
 'comp4',
 'comp6',
 'comp5',
 'comp1',
 'comp1',
 'comp1',
 'comp1',
 'comp1',
 'comp2',
 'comp4',
 'comp1',
 'comp4',
 'comp2',
 'comp0',
 'comp6',
 'comp1',
 'comp6',
 'comp1',
 'comp2',
 'comp1',
 'comp1',
 'comp6',
 'comp1',
 'comp6',
 'comp6',
 'comp5',
 'comp1',
 'comp3',
 'comp6',
 'comp6',
 'comp1',
 'comp3',
 'comp4',
 'comp0',
 'comp6',
 'comp1',
 'comp1',
 'comp1',
 'comp0',
 'comp4',
 'comp0',
 'comp6']

Librerias

In [9]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt